<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>IBIO - инструкция</title>
</head>
<body>
<h1><strong>Где найти код?</strong></h1>
<div class="alert alert-info" role="alert">
    <h3><strong>Как получить код и где?</strong></h3>
    <hr>
    <h6>Для начала убедитесь, что у вас есть доступ к <strong>IBIO(бот)</strong></h6>
    <h6>Только когда вы в этом убедились, пишите боту лично или на общедоступном сервере</h6>
    <h6>В чат ввести следующую фразу: <strong>*code</strong></h6>
    <h6>IBIO отправит его вам сразу или через некоторое время(0-2 минуты)</h6>
    <hr>
    <h3><strong>ПРИМЕЧАНИЕ:</strong></h3>
    <h6>Старайтесь данный код никому не отправлять, если же кто-то узнал о вашем</h6>
    <h6>коде или вы так считаете. Не рискуйте. Пропишите заново комманду в чат и</h6>
    <h6>ваш код будет успешно обновлённ!</h6>
</div>
<br>
<br>
<br>
<a href={{url}} class="btn btn-secondary" role="button" aria-pressed="true">Понял!</a>
<a href={{url2}} class="btn btn-dark" role="button" aria-pressed="true">Верни меня в начало.</a>
</body>
</html>