<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>IBIO - меню</title>
</head>
<body>
<div class="alert alert-secondary" role="alert">
    <h4><strong>Привет, пользователь: {{name}}</strong></h4>
</div>
<a href={{url}} class="btn btn-dark" role="button" aria-pressed="true">Другой пользователь</a>
<a href={{url2}} class="btn btn-dark" role="button" aria-pressed="true">Меню</a>
<div class="alert alert-info" role="alert">
    <h5><strong>Ваши напоминания</strong>:<br>{{inf}}</h5>
</div>
</body>
</html>