<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet"
             href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
             integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
             crossorigin="anonymous">
       <title>IBIO - регистрация</title>
   </head>
 <body>
  <h1><strong>Вход</strong></h1>
  <a href={{url}} class="btn btn-secondary" role="button" aria-pressed="true">Какой код?</a><br>
  <div class="input-group mb-3">
      <form method="POST">
        Вход:<br>
          <input type="text" class="form-control" placeholder="Ваш логин" aria-label="Ваш логин" aria-describedby="basic-addon1" name="tag">
          <input type="text" class="form-control" placeholder="Ваш код" aria-label="Ваш код" aria-describedby="basic-addon1" name="code">
          <input class="btn btn-dark" type="submit" value="Ввод">
      </form>
  </div>
 </body>
</html>