<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <title>Ошибка</title>
</head>
<body>
<br>
<br>
<br>
<div class="alert alert-danger" role="alert">
    <h3>Ошибка логина или кода!</h3>
</div>
<br>
<br>
<br>
<a href={{url}} class="btn btn-secondary" role="button" aria-pressed="true">Пробовать снова</a>
</body>
</html>